/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/



body {
    font: 12pt Arial;
    color: #000000;
    /*background-color: lightgrey;*/
}

.pane{
    display: inline;
    float: left;
    overflow:visible;
}

#attribution {
    font: 10pt Times;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 72%;
    /*transform: scale(0.75);*/
    transform: translateX(-65px)
}

.label {
    font: 6pt Arial;
    fill: black;
    text-align: center;
}

#label{
    font-weight: bold;
}

.plot {
    display: inline;
    float: left;
    overflow:visible;
    padding: 5px
}

.vertical-text {
    font-weight: bold;
    text-align: center;
    transform-origin: bottom;
    float: right;
    height: 100px;
    width: 150px;
    transform: translateX(70px) translateY(-25px) rotate(270deg);
}

#clinicalbox {
    transform: scale(0.70) translate(-200px, -140px);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

img {
    padding-left: 25%;
    padding-right: 25%;
    zoom: 70%;
}

iframe {
    padding-left: 25%;
    padding-right: 25%;
}