/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/



body {
    font: 12pt Arial;
    color: #000000;
    background-color: lightgrey;
}

.pane{
    display: inline;
    float: left;
    overflow:visible;
}

#attribution {
    font: 10pt Times;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 72%;
}

.label {
    font: 6pt Arial;
    fill: black;
    text-align: center;
}

#label{
    font-weight: bold;
}

.plot {
    display: inline;
    float: left;
    overflow:visible;
    padding: 5px
}

.vertical-text {
    font-weight: bold;
    transform: rotate(270deg);
    /*transform-origin: left top 0;*/
    float: right;
}