/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/



body {
    font: 12pt Arial;
    color: #000000;
    background-color: lightgrey;
}

.pane{
    display: inline;
    float: left;
}

#attribution {
    font: 10pt Times;
}